In [1]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from collections import Counter
import wordcloud
import numpy as np
import re
from transformers import BertTokenizer

In [2]:
DATA_DIR = '../data'
TRAIN_DATA_DIR = DATA_DIR+'/train'
T1_TRAIN = TRAIN_DATA_DIR+'/Task_1_train.jsonl'
T1_DEV = TRAIN_DATA_DIR+'/Task_1_dev.jsonl'
T2_TRAIN = TRAIN_DATA_DIR+'/Task_2_train.jsonl'
T2_DEV = TRAIN_DATA_DIR+'/Task_2_dev.jsonl'

In [3]:
all_files = [T1_TRAIN,T1_DEV,T2_TRAIN,T2_DEV]

## Statistics

In [5]:
columns = []
records = {"Samples":[],
           "Duplicated Examples":[],
           "Duplicated Articles":[],
           "Mean Char Count (Articles)":[],
          "Std Char Count (Articles)":[],
           "Max Char Count (Articles)":[],
           "Min Char Count (Articles)":[],
           "Mean Word Count (Articles)":[],
           "Std Word Count (Articles)":[],
           "Max Word Count (Articles)":[],
           "Min Word Count (Articles)":[],
           "Duplicated Questions":[],
           "Mean Char Count (Questions)":[],
          "Std Char Count (Questions)":[],
           "Max Char Count (Questions)":[],
           "Min Char Count (Questions)":[],
           "Mean Word Count (Questions)":[],
           "Std Word Count (Questions)":[],
           "Max Word Count (Questions)":[],
           "Min Word Count (Questions)":[]
          }

for fil in all_files:

    columns.append(fil.split('/')[-1].split('.')[0])

    df = pd.read_json(fil,lines=True) ## Can also use jsonlines to read
    records["Samples"].append(df.shape[0])
    records["Duplicated Examples"].append(df[df.duplicated()].shape[0])

    
    records["Duplicated Articles"].append(df[df[['article']].duplicated()].shape[0])
    article_char_length = df['article'].apply(lambda x : len(x))
    records["Mean Char Count (Articles)"].append(article_char_length.mean())
    records["Std Char Count (Articles)"].append(article_char_length.std())
    records["Max Char Count (Articles)"].append(article_char_length.max())
    records["Min Char Count (Articles)"].append(article_char_length.min())
    
    article_word_length = df['article'].apply(lambda x : len(x.split()))
    records["Mean Word Count (Articles)"].append(article_word_length.mean())
    records["Std Word Count (Articles)"].append(article_word_length.std())
    records["Max Word Count (Articles)"].append(article_word_length.max())
    records["Min Word Count (Articles)"].append(article_word_length.min())

    records["Duplicated Questions"].append(df[df[['question']].duplicated()].shape[0])
    question_char_length = df['question'].apply(lambda x : len(x))
    records["Mean Char Count (Questions)"].append(question_char_length.mean())
    records["Std Char Count (Questions)"].append(question_char_length.std())
    records["Max Char Count (Questions)"].append(question_char_length.max())
    records["Min Char Count (Questions)"].append(question_char_length.min())
    
    question_word_length = df['question'].apply(lambda x : len(x.split()))
    records["Mean Word Count (Questions)"].append(question_word_length.mean())
    records["Std Word Count (Questions)"].append(question_word_length.std())
    records["Max Word Count (Questions)"].append(question_word_length.max())
    records["Min Word Count (Questions)"].append(question_word_length.min())
    
stats_df_words = pd.DataFrame.from_dict(records,columns=columns, orient="index")
print(stats_df_words.to_markdown(tablefmt="github"))

|                             |   Task_1_train |   Task_1_dev |   Task_2_train |   Task_2_dev |
|-----------------------------|----------------|--------------|----------------|--------------|
| Samples                     |     3227       |    837       |      3318      |    851       |
| Duplicated Examples         |        0       |      0       |         0      |      0       |
| Duplicated Articles         |       57       |      4       |        55      |      2       |
| Mean Char Count (Articles)  |     1548.47    |   1582.79    |      2448.93   |   2501.41    |
| Std Char Count (Articles)   |      905.301   |    992.333   |      1788.42   |   1809.55    |
| Max Char Count (Articles)   |    10177       |   9563       |     10370      |   9628       |
| Min Char Count (Articles)   |      162       |    255       |       169      |    247       |
| Mean Word Count (Articles)  |      262.44    |    268.608   |       417.727  |    427.048   |
| Std Word Count (Articles)   |      154.534   |    171.253   |       307.248  |    310.994   |
| Max Word Count (Articles)   |     1754       |   1641       |      1700      |   1651       |
| Min Word Count (Articles)   |       31       |     41       |        31      |     45       |
| Duplicated Questions        |        0       |      0       |         1      |      0       |
| Mean Char Count (Questions) |      137.826   |    137.455   |       148.234  |    149.385   |
| Std Char Count (Questions)  |       31.1171  |     30.6809  |        47.7494 |     46.9035  |
| Max Char Count (Questions)  |      389       |    387       |       443      |    413       |
| Min Char Count (Questions)  |       32       |     48       |        31      |     37       |
| Mean Word Count (Questions) |       24.6771  |     24.4695  |        26.8852 |     27.2127  |
| Std Word Count (Questions)  |        6.18453 |      6.04612 |         9.1822 |      9.16159 |
| Max Word Count (Questions)  |       73       |     73       |        83      |     83       |
| Min Word Count (Questions)  |        6       |      9       |         7      |      6       |

## Most Freq Tokens

In [6]:
sw = set(stopwords.words('english'))

In [7]:
counts = {"Unique Token Count":[],"Total Count":[]}
columns = []
all_freq_df = None
for fil in all_files:
    columns.append(fil.split('/')[-1].split('.')[0])
    
    df = pd.read_json(fil,lines=True)
    df['article']=df['article'].apply(lambda x : x.lower())
    text = df['article'].apply(lambda x: re.sub('[^a-zA-z0-9\s]','',x))
    text = text.apply(lambda x : word_tokenize(x))
    text = text.apply(lambda x: np.array([y.lower() for y in x if y.lower() not in sw])).values
    tokencount = {}
    for split_sentence in text:
        for token in split_sentence:
            if(token in tokencount):
                tokencount[token]+=1
            else:
                tokencount[token]=1
    
    counts["Unique Token Count"].append(len(tokencount))
    token_counter = Counter(tokencount)
    total_count = np.sum(list(tokencount.values()))
    counts["Total Count"].append(total_count)
    #print("Most Common Words")
    # print("="*30)
   

    rows = {"Word":[],"Count":[],"Frequency":[]}
    for token,count in token_counter.most_common(20):
        #print(f"{token}: {count}, {count/total_count}")
        rows["Word"].append(token)
        rows["Count"].append(count)
        rows["Frequency"].append(count/total_count)

    freq_words_df = pd.DataFrame.from_dict(rows)
    if(all_freq_df is None):
        all_freq_df = freq_words_df
    else:
        all_freq_df = pd.concat([all_freq_df,freq_words_df],axis=1)
    
counts_df = pd.DataFrame.from_dict(counts,orient="index",columns=columns)

In [8]:
print(counts_df.to_markdown(tablefmt="github"))

|                    |   Task_1_train |   Task_1_dev |   Task_2_train |   Task_2_dev |
|--------------------|----------------|--------------|----------------|--------------|
| Unique Token Count |          41087 |        20447 |          53285 |        25779 |
| Total Count        |         482713 |       128258 |         775342 |       203877 |

In [9]:
print(all_freq_df.to_markdown(tablefmt="github"))

|    | Word       |   Count |   Frequency | Word   |   Count |   Frequency | Word   |   Count |   Frequency | Word       |   Count |   Frequency |
|----|------------|---------|-------------|--------|---------|-------------|--------|---------|-------------|------------|---------|-------------|
|  0 | said       |    7978 |  0.0165274  | said   |    1940 |  0.0151258  | said   |    9594 |  0.0123739  | said       |    2524 |  0.01238    |
|  1 | mr         |    2465 |  0.00510655 | mr     |     701 |  0.00546555 | mr     |    3549 |  0.00457733 | mr         |     993 |  0.00487058 |
|  2 | would      |    2194 |  0.00454514 | would  |     593 |  0.00462349 | would  |    3539 |  0.00456444 | would      |     954 |  0.00467929 |
|  3 | also       |    2019 |  0.00418261 | also   |     506 |  0.00394517 | people |    3335 |  0.00430133 | people     |     872 |  0.00427709 |
|  4 | people     |    1897 |  0.00392987 | one    |     486 |  0.00378924 | one    |    3182 |  0.004104   | one        |     814 |  0.0039926  |
|  5 | one        |    1705 |  0.00353212 | people |     481 |  0.00375025 | also   |    2784 |  0.00359067 | also       |     675 |  0.00331082 |
|  6 | last       |    1461 |  0.00302664 | first  |     395 |  0.00307973 | says   |    2201 |  0.00283875 | two        |     562 |  0.00275656 |
|  7 | two        |    1349 |  0.00279462 | last   |     391 |  0.00304854 | two    |    2112 |  0.00272396 | says       |     547 |  0.00268299 |
|  8 | first      |    1344 |  0.00278426 | new    |     372 |  0.0029004  | years  |    2084 |  0.00268785 | new        |     545 |  0.00267318 |
|  9 | new        |    1341 |  0.00277805 | told   |     349 |  0.00272108 | new    |    2081 |  0.00268398 | time       |     532 |  0.00260942 |
| 10 | year       |    1262 |  0.00261439 | two    |     346 |  0.00269769 | time   |    2064 |  0.00266205 | us         |     531 |  0.00260451 |
| 11 | years      |    1248 |  0.00258539 | us     |     342 |  0.0026665  | could  |    2002 |  0.00258209 | could      |     517 |  0.00253584 |
| 12 | could      |    1222 |  0.00253152 | years  |     340 |  0.00265091 | last   |    1957 |  0.00252405 | years      |     516 |  0.00253094 |
| 13 | told       |    1203 |  0.00249216 | year   |     329 |  0.00256514 | first  |    1944 |  0.00250728 | first      |     509 |  0.0024966  |
| 14 | us         |    1187 |  0.00245902 | time   |     307 |  0.00239361 | us     |    1820 |  0.00234735 | told       |     493 |  0.00241812 |
| 15 | time       |    1159 |  0.00240101 | could  |     291 |  0.00226886 | year   |    1768 |  0.00228028 | year       |     462 |  0.00226607 |
| 16 | government |    1036 |  0.0021462  | bbc    |     256 |  0.00199598 | like   |    1727 |  0.0022274  | last       |     455 |  0.00223174 |
| 17 | made       |     940 |  0.00194733 | added  |     246 |  0.00191801 | told   |    1659 |  0.0021397  | bbc        |     418 |  0.00205026 |
| 18 | bbc        |     894 |  0.00185203 | made   |     236 |  0.00184004 | police |    1504 |  0.00193979 | like       |     408 |  0.00200121 |
| 19 | police     |     892 |  0.00184789 | get    |     227 |  0.00176987 | get    |    1476 |  0.00190368 | government |     404 |  0.00198159 |

In [10]:
counts = {"Unique Token Count":[],"Total Count":[]}
columns = []
all_freq_df = None
for fil in all_files:
    columns.append(fil.split('/')[-1].split('.')[0])
    
    df = pd.read_json(fil,lines=True)
    df['question']=df['question'].apply(lambda x : x.lower())
    text = df['question'].apply(lambda x: re.sub('[^a-zA-z0-9\s]','',x))
    text = text.apply(lambda x : word_tokenize(x))
    text = text.apply(lambda x: np.array([y.lower() for y in x if y.lower() not in sw])).values
    tokencount = {}
    for split_sentence in text:
        for token in split_sentence:
            if(token in tokencount):
                tokencount[token]+=1
            else:
                tokencount[token]=1
    
    counts["Unique Token Count"].append(len(tokencount))
    token_counter = Counter(tokencount)
    total_count = np.sum(list(tokencount.values()))
    counts["Total Count"].append(total_count)
    #print("Most Common Words")
    # print("="*30)
   

    rows = {"Word":[],"Count":[],"Frequency":[]}
    for token,count in token_counter.most_common(20):
        #print(f"{token}: {count}, {count/total_count}")
        rows["Word"].append(token)
        rows["Count"].append(count)
        rows["Frequency"].append(count/total_count)

    freq_words_df = pd.DataFrame.from_dict(rows)
    if(all_freq_df is None):
        all_freq_df = freq_words_df
    else:
        all_freq_df = pd.concat([all_freq_df,freq_words_df],axis=1)
    
counts_df = pd.DataFrame.from_dict(counts,orient="index",columns=columns)

In [11]:
print(counts_df.to_markdown(tablefmt="github"))

|                    |   Task_1_train |   Task_1_dev |   Task_2_train |   Task_2_dev |
|--------------------|----------------|--------------|----------------|--------------|
| Unique Token Count |          10032 |         4602 |          11098 |         4966 |
| Total Count        |          43683 |        11289 |          47297 |        12255 |

In [12]:
print(all_freq_df.to_markdown(tablefmt="github"))

|    | Word        |   Count |   Frequency | Word        |   Count |   Frequency | Word        |   Count |   Frequency | Word        |   Count |   Frequency |
|----|-------------|---------|-------------|-------------|---------|-------------|-------------|---------|-------------|-------------|---------|-------------|
|  0 | placeholder |    3227 |  0.0738731  | placeholder |     837 |  0.074143   | placeholder |    3318 |  0.0701524  | placeholder |     851 |  0.069441   |
|  1 | said        |     268 |  0.00613511 | new         |      69 |  0.00611214 | new         |     229 |  0.00484174 | new         |      71 |  0.00579355 |
|  2 | year        |     230 |  0.00526521 | says        |      62 |  0.00549207 | year        |     218 |  0.00460917 | two         |      60 |  0.00489596 |
|  3 | new         |     222 |  0.00508207 | year        |      56 |  0.00496058 | two         |     209 |  0.00441888 | says        |      57 |  0.00465116 |
|  4 | says        |     197 |  0.00450976 | us          |      48 |  0.00425193 | one         |     201 |  0.00424974 | year        |      54 |  0.00440636 |
|  5 | two         |     172 |  0.00393746 | said        |      46 |  0.00407476 | said        |     200 |  0.0042286  | said        |      54 |  0.00440636 |
|  6 | first       |     159 |  0.00363986 | first       |      43 |  0.00380902 | man         |     191 |  0.00403831 | us          |      49 |  0.00399837 |
|  7 | world       |     158 |  0.00361697 | two         |      43 |  0.00380902 | police      |     185 |  0.00391145 | people      |      48 |  0.00391677 |
|  8 | one         |     148 |  0.00338805 | world       |      38 |  0.00336611 | people      |     177 |  0.00374231 | one         |      47 |  0.00383517 |
|  9 | man         |     143 |  0.00327358 | uk          |      35 |  0.00310036 | first       |     174 |  0.00367888 | man         |      46 |  0.00375357 |
| 10 | people      |     141 |  0.0032278  | one         |      34 |  0.00301178 | world       |     168 |  0.00355202 | first       |      44 |  0.00359037 |
| 11 | us          |     129 |  0.00295309 | man         |      32 |  0.00283462 | years       |     154 |  0.00325602 | years       |      37 |  0.00301918 |
| 12 | police      |     127 |  0.00290731 | people      |      32 |  0.00283462 | us          |     147 |  0.00310802 | police      |      36 |  0.00293758 |
| 13 | uk          |     127 |  0.00290731 | police      |      31 |  0.00274604 | uk          |     133 |  0.00281202 | uk          |      32 |  0.00261118 |
| 14 | wales       |     118 |  0.00270128 | former      |      31 |  0.00274604 | says        |     130 |  0.00274859 | world       |      31 |  0.00252958 |
| 15 | years       |     115 |  0.0026326  | england     |      31 |  0.00274604 | three       |     113 |  0.00238916 | could       |      31 |  0.00252958 |
| 16 | former      |     112 |  0.00256393 | wales       |      29 |  0.00256887 | england     |     111 |  0.00234687 | city        |      28 |  0.00228478 |
| 17 | government  |     110 |  0.00251814 | league      |      29 |  0.00256887 | old         |     105 |  0.00222001 | found       |      27 |  0.00220318 |
| 18 | could       |     109 |  0.00249525 | years       |      28 |  0.00248029 | could       |     102 |  0.00215658 | may         |      27 |  0.00220318 |
| 19 | city        |     106 |  0.00242657 | three       |      25 |  0.00221455 | last        |     100 |  0.0021143  | bbc         |      27 |  0.00220318 |

### BertTokenizer Based

In [14]:
pd.read_json(all_files[0],lines=True)

,article,question,option_0,option_1,option_2,option_3,option_4,label
0,The Trainspotting author has agreed to become ...,Irvine Welsh is to spearhead a campaign aimed ...,neglected,renewed,lavish,revised,proposed,0
1,The economy of the 28-nation EU is set to grow...,The economic recovery within the European Unio...,special,fair,remarkable,modest,similar,3
2,"The facility, based on the town's Crichton est...",Councillors are to be given a progress report ...,temporary,controversial,lasting,national,special,3
3,The Scottish golf club said a recent consultat...,"Royal Troon members have voted "" overwhelmingl...",special,past,forthcoming,potential,prestigious,0
4,Former Aberdeen and Manchester United manager ...,Sir Alex Ferguson and Annie Lennox are among t...,latest,free,best,major,famous,4
...,...,...,...,...,...,...,...,...
3222,"A total of £300,000 is needed to save the piec...",An appeal has been launched to save a 17th Cen...,closure,accuracy,influence,realism,value,3
3223,Pupils came up with the idea of the parking no...,Parents who park or drive @placeholder near a ...,badly,mistakenly,by,in,anywhere,0
3224,Lendl Simmons (102) shared 154 with Darren Sam...,Ireland caused the first shock of the World Cu...,loss,haul,deficit,qualifiers,triumph,4
3225,Messi and his father Jorge are both accused of...,Argentina and Barcelona star Lionel Messi has ...,latest,professional,fresh,own,immediate,0
3226,Mr Justice Mostyn said the game could be said ...,"The card game Bridge is "" @placeholder "" a spo...",arguably,simply,virtually,urgently,truly,0

In [16]:
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

In [35]:
from transformers import LongformerTokenizer
tok2 = LongformerTokenizer.from_pretrained('allenai/longformer-base-4096')

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=898823.0, style=ProgressStyle(descripti…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=456318.0, style=ProgressStyle(descripti…

In [ ]:
columns = []
records = {
           "Mean Token Count (Articles)":[],
           "Std Token Count (Articles)":[],
           "Max Token Count (Articles)":[],
           "Min Token Count (Articles)":[],

           "Mean Token Count (Questions)":[],
           "Std Token Count (Questions)":[],
           "Max Token Count (Questions)":[],
           "Min Token Count (Questions)":[],
    
           "Mean Token Count (Answers) LF":[],
           "Std Token Count (Answers) LF":[],
           "Max Token Count (Answers) LF":[],
           "Min Token Count (Answers) LF":[],

          }

for fil in all_files:

    columns.append(fil.split('/')[-1].split('.')[0])

    df = pd.read_json(fil,lines=True) ## Can also use jsonlines to read

    article_word_length = df['article'].apply(lambda x : len(tokenizer.tokenize(x)))
    records["Mean Token Count (Articles)"].append(article_word_length.mean())
    records["Std Token Count (Articles)"].append(article_word_length.std())
    records["Max Token Count (Articles)"].append(article_word_length.max())
    records["Min Token Count (Articles)"].append(article_word_length.min())

    question_word_length = df['question'].apply(lambda x : len(tokenizer.tokenize(x)))
    records["Mean Token Count (Questions)"].append(question_word_length.mean())
    records["Std Token Count (Questions)"].append(question_word_length.std())
    records["Max Token Count (Questions)"].append(question_word_length.max())
    records["Min Token Count (Questions)"].append(question_word_length.min())
    
    answer_word_length = df['option_0'].apply(lambda x : len(tok2.tokenize(x)))
    
    answer_word_length = pd.concat([answer_word_length,df['option_1'].apply(lambda x : len(tok2.tokenize(x)))])
    answer_word_length = pd.concat([answer_word_length,df['option_2'].apply(lambda x : len(tok2.tokenize(x)))])
    answer_word_length = pd.concat([answer_word_length,df['option_3'].apply(lambda x : len(tok2.tokenize(x)))])
    answer_word_length = pd.concat([answer_word_length,df['option_4'].apply(lambda x : len(tok2.tokenize(x)))])
#     print(answer_word_length.shape)
    records["Mean Token Count (Answers) LF"].append(answer_word_length.mean())
    records["Std Token Count (Answers) LF"].append(answer_word_length.std())
    records["Max Token Count (Answers) LF"].append(answer_word_length.max())
    records["Min Token Count (Answers) LF"].append(answer_word_length.min())
    
stats_df_words = pd.DataFrame.from_dict(records,columns=columns, orient="index")
print(stats_df_words.to_markdown(tablefmt="github"))

(16135,)
(4185,)

In [ ]:
counts = {"Unique Token Count":[],"Total Count":[]}
columns = []
all_freq_df = None
for fil in all_files:
    columns.append(fil.split('/')[-1].split('.')[0])
    
    df = pd.read_json(fil,lines=True)
    df['article']=df['article'].apply(lambda x : x.lower())
    text = df['article'].apply(lambda x: re.sub('[^a-zA-z0-9\s]','',x))
    text = text.apply(lambda x : tokenizer.tokenize(x))
    text = text.apply(lambda x: np.array([y.lower() for y in x if y.lower() not in sw])).values
    
    tokencount = {}
    for split_sentence in text:
        for token in split_sentence:
            if(token in tokencount):
                tokencount[token]+=1
            else:
                tokencount[token]=1
    
    counts["Unique Token Count"].append(len(tokencount))
    token_counter = Counter(tokencount)
    total_count = np.sum(list(tokencount.values()))
    counts["Total Count"].append(total_count)
    #print("Most Common Words")
    # print("="*30)
   

    rows = {"Word":[],"Count":[],"Frequency":[]}
    for token,count in token_counter.most_common(20):
        #print(f"{token}: {count}, {count/total_count}")
        rows["Word"].append(token)
        rows["Count"].append(count)
        rows["Frequency"].append(count/total_count)

    freq_words_df = pd.DataFrame.from_dict(rows)
    if(all_freq_df is None):
        all_freq_df = freq_words_df
    else:
        all_freq_df = pd.concat([all_freq_df,freq_words_df],axis=1)
    
counts_df = pd.DataFrame.from_dict(counts,orient="index",columns=columns)

In [ ]:
print(counts_df.to_markdown(tablefmt="github"))

In [ ]:
print(all_freq_df.to_markdown(tablefmt="github"))

In [76]:
counts = {"Unique Token Count":[],"Total Count":[]}
columns = []
all_freq_df = None
for fil in all_files:
    columns.append(fil.split('/')[-1].split('.')[0])
    
    df = pd.read_json(fil,lines=True)
    df['question']=df['question'].apply(lambda x : x.lower())
    text = df['question'].apply(lambda x: re.sub('[^a-zA-z0-9\s]','',x))
    text = text.apply(lambda x : tokenizer.tokenize(x))
    text = text.apply(lambda x: np.array([y.lower() for y in x if y.lower() not in sw])).values
    
    tokencount = {}
    for split_sentence in text:
        for token in split_sentence:
            if(token in tokencount):
                tokencount[token]+=1
            else:
                tokencount[token]=1
    
    counts["Unique Token Count"].append(len(tokencount))
    token_counter = Counter(tokencount)
    total_count = np.sum(list(tokencount.values()))
    counts["Total Count"].append(total_count)
    #print("Most Common Words")
    # print("="*30)
   

    rows = {"Word":[],"Count":[],"Frequency":[]}
    for token,count in token_counter.most_common(20):
        #print(f"{token}: {count}, {count/total_count}")
        rows["Word"].append(token)
        rows["Count"].append(count)
        rows["Frequency"].append(count/total_count)

    freq_words_df = pd.DataFrame.from_dict(rows)
    if(all_freq_df is None):
        all_freq_df = freq_words_df
    else:
        all_freq_df = pd.concat([all_freq_df,freq_words_df],axis=1)
    
counts_df = pd.DataFrame.from_dict(counts,orient="index",columns=columns)

In [77]:
print(counts_df.to_markdown(tablefmt="github"))

|                    |   Task_1_train |   Task_1_dev |   Task_2_train |   Task_2_dev |
|--------------------|----------------|--------------|----------------|--------------|
| Unique Token Count |           9771 |         4876 |          10702 |         5251 |
| Total Count        |          51629 |        13284 |          55858 |        14331 |

In [78]:
print(all_freq_df.to_markdown(tablefmt="github"))

|    | Word       |   Count |   Frequency | Word     |   Count |   Frequency | Word     |   Count |   Frequency | Word     |   Count |   Frequency |
|----|------------|---------|-------------|----------|---------|-------------|----------|---------|-------------|----------|---------|-------------|
|  0 | place      |    3256 |  0.0630653  | place    |     844 |  0.0635351  | place    |    3349 |  0.0599556  | place    |     859 |  0.05994    |
|  1 | ##holder   |    3227 |  0.0625036  | ##holder |     837 |  0.0630081  | ##holder |    3318 |  0.0594006  | ##holder |     851 |  0.0593818  |
|  2 | said       |     272 |  0.00526836 | new      |      69 |  0.00519422 | ##s      |     333 |  0.00596155 | new      |      72 |  0.00502407 |
|  3 | year       |     230 |  0.00445486 | ##s      |      66 |  0.00496838 | new      |     230 |  0.00411758 | ##s      |      72 |  0.00502407 |
|  4 | ##s        |     223 |  0.00431928 | says     |      62 |  0.00466727 | year     |     218 |  0.00390275 | two      |      60 |  0.00418673 |
|  5 | new        |     222 |  0.00429991 | year     |      56 |  0.0042156  | two      |     209 |  0.00374163 | says     |      57 |  0.00397739 |
|  6 | says       |     197 |  0.00381568 | us       |      48 |  0.00361337 | one      |     201 |  0.00359841 | year     |      54 |  0.00376806 |
|  7 | two        |     172 |  0.00333146 | said     |      46 |  0.00346281 | said     |     200 |  0.00358051 | said     |      54 |  0.00376806 |
|  8 | first      |     160 |  0.00309903 | first    |      43 |  0.00323698 | man      |     196 |  0.0035089  | man      |      50 |  0.00348894 |
|  9 | world      |     158 |  0.0030603  | two      |      43 |  0.00323698 | police   |     185 |  0.00331197 | us       |      49 |  0.00341916 |
| 10 | man        |     150 |  0.00290534 | world    |      38 |  0.00286058 | people   |     177 |  0.00316875 | people   |      48 |  0.00334938 |
| 11 | one        |     148 |  0.00286661 | uk       |      36 |  0.00271003 | first    |     174 |  0.00311504 | one      |      47 |  0.0032796  |
| 12 | people     |     141 |  0.00273102 | man      |      35 |  0.00263475 | world    |     168 |  0.00300763 | first    |      44 |  0.00307027 |
| 13 | uk         |     135 |  0.00261481 | one      |      34 |  0.00255947 | years    |     154 |  0.00275699 | years    |      37 |  0.00258182 |
| 14 | us         |     130 |  0.00251796 | people   |      32 |  0.00240891 | us       |     147 |  0.00263167 | police   |      36 |  0.00251204 |
| 15 | police     |     129 |  0.0024986  | police   |      31 |  0.00233363 | uk       |     142 |  0.00254216 | uk       |      33 |  0.0023027  |
| 16 | wales      |     118 |  0.00228554 | former   |      31 |  0.00233363 | says     |     130 |  0.00232733 | world    |      32 |  0.00223292 |
| 17 | years      |     115 |  0.00222743 | england  |      31 |  0.00233363 | three    |     113 |  0.00202299 | could    |      31 |  0.00216314 |
| 18 | former     |     112 |  0.00216932 | wales    |      29 |  0.00218308 | england  |     111 |  0.00198718 | city     |      28 |  0.00195381 |
| 19 | government |     110 |  0.00213059 | league   |      29 |  0.00218308 | old      |     105 |  0.00187977 | found    |      27 |  0.00188403 |

### WordCloud